{%extends 'inicioBase.html'%}
{%block content%}
<div class="container container-tight py-4">
  <div class="text-center mb-4">
    <a href="/" class="navbar-brand navbar-brand-autodark">
      <img src="/static/icon/logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
      <span>Veranum</span>
    </a>
  </div>
  <form class="card card-md" action="./" method="get" autocomplete="off" novalidate>
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Registro de Cuenta</h2>
      <div class="mb-4">
        <label class="form-label" for="usuario">Usuario</label>
        <input type="text" class="form-control" id="usuario" placeholder="Usuario">
      </div>
      <div class="mb-4">
        <label class="form-label" for="correo">Correo</label>
        <input type="email" class="form-control" id="correo" placeholder="ejemplo@ejemplo.com">
      </div>
      <div class="mb-4">
        <label class="form-label" for="contrasena">Contraseña</label>
        <div class="input-group input-group-flat">
          <input type="password" class="form-control" id="contrasena" placeholder="Contraseña" autocomplete="off">
        </div>
      </div>
      <div class="mb-4">
        <label class="form-label" for="repetir-contrasena">Repetir Contraseña</label>
        <div class="input-group input-group-flat">
          <input type="password" class="form-control" id="repetir-contrasena" placeholder="Repetir contraseña" autocomplete="off">
        </div>
      </div>
      <div class="form-footer">
        <button type="submit" class="btn btn-warning w-100">Registrarse</button>
      </div>
    </div>
  </form>
  <div class="text-center text-secondary mt-3">
    ¿Ya tienes cuenta? <a href="{% url 'inicioSesion' %}" tabindex="-1">Inicia Sesion</a>
  </div>
</div>
<script src="/static/js/js-autenticacion/registro.js"></script>
{%endblock%}