{%extends 'inicioBase.html'%}

{%block content%}
<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">
                                    Habitacion matrimonial
                                </h3>
                                <p class="card-subtitle">
                                   Habitacion Perfecta para parejas, con servicios adicionales incluidos
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="#" class="btn btn-primary">
                                    <span><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  
                                        stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" />
                                        <path d="M5 12l14 0" /></svg>
                                    </span>
                                    Reservar
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-10">
                            <img style="width: 100%;" src="/static/img/habitacion2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--Habitacion 2-->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">
                                    Habitacion Ejecutiva
                                </h3>
                                <p class="card-subtitle">
                                    Habitación ejecutiva con amplio espacio y servicios de lujo incluidos.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="#" class="btn btn-primary">
                                    <span><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  
                                        stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" />
                                        <path d="M5 12l14 0" /></svg>
                                    </span>
                                    Reservar
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-10">
                            <img style="width: 100%;" src="/static/img/habitacion3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--Habitacion 3-->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">
                                    Habitacion Doble
                                </h3>
                                <p class="card-subtitle">
                                   Capacidad para 2 personas y con servicios adicionales incluidos
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="#" class="btn btn-primary">
                                    <span><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  
                                        stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" />
                                        <path d="M5 12l14 0" /></svg>
                                    </span>
                                    Reservar
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-10">
                            <img style="width: 100%;" src="/static/img/habitacion1.jpg" alt="">
                        </div>
                    </div>
                </div>
                 <!--Habitacion 3-->
                 <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">
                                    Habitacion Superior
                                </h3>
                                <p class="card-subtitle">
                                   Capacidad para 1-3 personas, con cama matrimonial y servicios adicionales incluidos
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="#" class="btn btn-primary">
                                    <span><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  
                                        stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" />
                                        <path d="M5 12l14 0" /></svg>
                                    </span>
                                    Reservar
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-10">
                            <img style="width: 100%;" src="/static/img/habitacion4.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



{%endblock%}