/* Importación de la fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea; /* Color de fondo suave para toda la página */
    margin: 0;
}

/* Contenedor principal centrado */
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo del formulario */
.form-div {
    width: 90%; /* Ancho del 90% para hacer que el formulario sea más responsivo */
    max-width: 400px; /* Ancho máximo de 400px */
    padding: 20px;
    background-color: #ffffff; /* Color de fondo blanco para el formulario */
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluye el padding dentro del ancho total */
}

/* Título del formulario */
.title-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contenido del formulario */
.content-form {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #666666; /* Color del texto del contenido */

}

/* Título del contenido */
.title-content {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center; /* Centrar el texto del título */
    color: #333333; /* Color del texto del título */
}

/* Estilos adicionales para entradas y botones del formulario */
.form-div input,
.form-div button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-div button {
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-div button:hover {
    background-color: #0056b3; /* Color del botón al pasar el mouse */
}

.input-style{
    margin-right: 20px;
}