{% extends "base.html" %}
{% block content %}

<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <!-- Page title actions -->
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="/serviciosAd/registrarServicioAd/" class="btn btn-primary d-none d-sm-inline-block">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5v14" />
                                <path d="M5 12h14" />
                            </svg>
                            Agregar un servicio adicional
                        </a>
                        <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                            data-bs-target="#modal-report" aria-label="Create new report">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5v14" />
                                <path d="M5 12h14" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="card-body">
                    <div id="table-default" class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><button class="table-sort" data-sort="sort-quantity">ID</button></th>
                                    <th><button class="table-sort" data-sort="sort-quantity">Nombre servicio</button>
                                    </th>
                                    <th><button class="table-sort" data-sort="sort-quantity">Descripcion</button></th>
                                    <th><button class="table-sort" data-sort="sort-quantity">Precio</button></th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                {% for servicio in servicioAd %}
                                <tr>
                                    <td class="sort-quantity">{{ servicio.id_servicio }}</td> <!-- Se deberia ocultar -->
                                    <td class="sort-quantity">{{ servicio.nombre }}</td>
                                    <td class="sort-quantity">{{ servicio.descripcion }}</td>
                                    <td class="sort-quantity">{{ servicio.precio }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}